<a href="https://colab.research.google.com/github/kalanasa1996s/IJSE-semester-4-/blob/main/Day_3_(_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
# print("Hello world")
# message

In [ ]:
'''

Test Comment

'''

'\n\nTest Comment\n\n'

In [ ]:
"""
Test Comment

"""

'\nTest Comment\n\n'

In [ ]:
"""
Test Comment

"""
print ("b")

b

In [ ]:
c="""

SyntaxError: ignored

In [ ]:
for a in range (7):
  print(a);

0
1
2
3
4
5
6

In [ ]:
for i in range(10):
  for r in range(i):
    print("*",end="")
  print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
for i in range(10):
  for r in range(10-i):
    print(" ",end="")
  for r in range(i-1):
    print("*",end="")
  print()

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********

In [ ]:
for i in range(10):
  for r in range(10-i):
    print(" ",end="")
  for r in range(2*i-1):
    print("*",end="")
  print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
for i in reversed(range(10)):
  for r in range(10-i):
    print(" ",end="")
  for r in range(2*i-1):
    print("*",end="")
  print()

 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [ ]:
for i in range(10):
  for r in reversed(range(10-i)):
    print(" ",end="")
  for r in (range(2*i-1)):
    print("*",end="")
  print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
for i in range(0, 5):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    


for i in range(5, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
for i in range(10):
  for r in range(10-i):
    print(" ",end="")
  for r in range(2*i-1):
    print("*",end="")
  print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
a = 15

In [ ]:
if a>10:
  print ("A is Greater 10")
  b =10
  sum = a+b
  print ("Sum", sum)
else:
    print("A is Less Than 10")

A is Less Than 10

In [ ]:
if a>10:
  pass
elif a==10:
  pass

In [ ]:
c1 = True 
print(c1)

True

In [ ]:
c2 = False
print(c2)

False

In [ ]:
c3 = c1 or c2

In [ ]:
print (c3)

True

In [ ]:
c4 = c1 and c2
print(c4)

False

In [ ]:
c5 = (c1 and c2 ) or ( c1 and c3)

In [ ]:
print(c5)

True

In [ ]:
a,b = 10,15
print(a,b)

10 15

In [ ]:
if a< 5:
  print (" A Greater than 5")
elif a == 10:
  print ("A eqaul to 10")
else:
  print("A is greather than 10")

A is greather than 10

In [ ]:
ls = range(4)
print(ls)

range(0, 4)

In [ ]:
for a in range(3):
  print(a)

0
1
2

In [ ]:
for a in range (5,10):
  print(a)

5
6
7
8
9

In [ ]:
for i in range(3):
  for k in range(4,7):
    print(i,k)

0 4
0 5
0 6
1 4
1 5
1 6
2 4
2 5
2 6

In [ ]:
for i in range(10):
  for r in range(i):
    print("*",end="")
  print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
for i in reversed(range(1,6)):
  for x in range(6 - i):
    print(" ",end ="")
  for x in range(i):
    print("* " , end ="")
  print()
  for i in range(2,6):
    for x in range(6 - i):
      print ("", end ="")
    for x in range(i):
      print("* ",end ="")
    print()

 * * * * *
* *
* * *
* * * *
* * * * *
  * * * *
* *
* * *
* * * *
* * * * *
   * * *
* *
* * *
* * * *
* * * * *
    * *
* *
* * *
* * * *
* * * * *
     *
* *
* * *
* * * *
* * * * *

In [ ]:
loop_index = 0
while loop_index<5:
  print(loop_index)
  loop_index+=1

0
1
2
3
4

In [ ]:

for i in reversed(range(5)):
  for r in range(5-i):
    print(" ",end="")
  for r in range(2*i-1):
    print("*",end="")
  print()

for i in range(5):
  for r in range(5-i):
    print(" ",end="")
  for r in range(2*i-1):
    print("*",end="")
  print()

 *******
  *****
   ***
    *


    *
   ***
  *****
 *******

In [ ]:

def pattern(n):
  k = n - 2
  for i in range(n, -1 , -1):
    for j in range(k, 0 , -1):
      print(end=" ")
    k = k+1
    for j in range(0, i+1):
      print("* ",end="")
    print("\r")
  k = 2 * n - 2
  for i in range(0, n + 1):
    for j in range(0, k):
      print(end=" ")
    k=k-1
    for j in range(0,i+1):
      print("* ",end="")
    print("\r")


pattern(5)

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *